## Importing modules

In [2]:
import pickle
import numpy as np

## Loading the data

In [3]:
enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "r"))

What is the type of data?

In [4]:
type(enron_data)

dict

### Making a list of all the dictionary entries for later looping

In [6]:
names = enron_data.keys()

Let's look at one of the entries:

In [7]:
enron_data[names[0]]

{'bonus': 600000,
 'deferral_payments': 'NaN',
 'deferred_income': 'NaN',
 'director_fees': 'NaN',
 'email_address': 'mark.metts@enron.com',
 'exercised_stock_options': 'NaN',
 'expenses': 94299,
 'from_messages': 29,
 'from_poi_to_this_person': 38,
 'from_this_person_to_poi': 1,
 'loan_advances': 'NaN',
 'long_term_incentive': 'NaN',
 'other': 1740,
 'poi': False,
 'restricted_stock': 585062,
 'restricted_stock_deferred': 'NaN',
 'salary': 365788,
 'shared_receipt_with_poi': 702,
 'to_messages': 807,
 'total_payments': 1061827,
 'total_stock_value': 585062}

A dict of dictionaries then. To get the keys of the dictionaries:

In [8]:
enron_data[names[0]].keys()

['salary',
 'to_messages',
 'deferral_payments',
 'total_payments',
 'exercised_stock_options',
 'bonus',
 'restricted_stock',
 'shared_receipt_with_poi',
 'restricted_stock_deferred',
 'total_stock_value',
 'expenses',
 'loan_advances',
 'from_messages',
 'other',
 'from_this_person_to_poi',
 'poi',
 'director_fees',
 'deferred_income',
 'long_term_incentive',
 'email_address',
 'from_poi_to_this_person']

#### How many entries are there?

In [9]:
len(names)

146

#### How many features are available for each person?

In [11]:
len(enron_data[names[0]].keys())

21

#### Just for fun, we can also make a subdictionary of only pois:

In [18]:
dict_pois = { name : enron_data[name] for name in enron_data.keys() if enron_data[name]['poi']==True }

#### So how many pois are there?

In [19]:
print "There are %d pois in the E+F dataset." %(len(dict_pois))

There are 18 pois in the E+F dataset.

In [13]:
with open("../final_project/poi_names.txt") as f:
    lines = f.readlines()

In [14]:
lines

['http://usatoday30.usatoday.com/money/industries/energy/2005-12-28-enron-participants_x.htm\n',
 '\n',
 '(y) Lay, Kenneth\n',
 '(y) Skilling, Jeffrey\n',
 '(n) Howard, Kevin\n',
 '(n) Krautz, Michael\n',
 '(n) Yeager, Scott\n',
 '(n) Hirko, Joseph\n',
 '(n) Shelby, Rex\n',
 '(n) Bermingham, David\n',
 '(n) Darby, Giles\n',
 '(n) Mulgrew, Gary\n',
 '(n) Bayley, Daniel\n',
 '(n) Brown, James\n',
 '(n) Furst, Robert\n',
 '(n) Fuhs, William\n',
 '(n) Causey, Richard\n',
 '(n) Calger, Christopher\n',
 '(n) DeSpain, Timothy\n',
 '(n) Hannon, Kevin\n',
 '(n) Koenig, Mark\n',
 '(y) Forney, John\n',
 '(n) Rice, Kenneth\n',
 '(n) Rieker, Paula\n',
 '(n) Fastow, Lea\n',
 '(n) Fastow, Andrew\n',
 '(y) Delainey, David\n',
 '(n) Glisan, Ben\n',
 '(n) Richter, Jeffrey\n',
 '(n) Lawyer, Larry\n',
 '(n) Belden, Timothy\n',
 '(n) Kopper, Michael\n',
 '(n) Duncan, David\n',
 '(n) Bowen, Raymond\n',
 '(n) Colwell, Wesley\n',
 '(n) Boyle, Dan\n',
 '(n) Loehr, Christopher\n']

In [20]:
print "There were %d pois in total." %(len(lines)-2)

There were 35 pois in total.

Stock value of James Prentice:

In [22]:
enron_data["Prentice James".upper()]["total_stock_value"]

1095040

In [25]:
enron_data["Colwell Wesley".upper()]['from_this_person_to_poi']

11

In [37]:
enron_data["Skilling Jeffrey K".upper()]["exercised_stock_options"]

19250000

In [39]:
for person in ["LAY KENNETH L", "Skilling Jeffrey K".upper(), 'FASTOW ANDREW S']:
    print person, enron_data[person]["total_payments"]

LAY KENNETH L 103559793
SKILLING JEFFREY K 8682716
FASTOW ANDREW S 2424083

In [34]:
sorted(names)

['ALLEN PHILLIP K',
 'BADUM JAMES P',
 'BANNANTINE JAMES M',
 'BAXTER JOHN C',
 'BAY FRANKLIN R',
 'BAZELIDES PHILIP J',
 'BECK SALLY W',
 'BELDEN TIMOTHY N',
 'BELFER ROBERT',
 'BERBERIAN DAVID',
 'BERGSIEKER RICHARD P',
 'BHATNAGAR SANJAY',
 'BIBI PHILIPPE A',
 'BLACHMAN JEREMY M',
 'BLAKE JR. NORMAN P',
 'BOWEN JR RAYMOND M',
 'BROWN MICHAEL',
 'BUCHANAN HAROLD G',
 'BUTTS ROBERT H',
 'BUY RICHARD B',
 'CALGER CHRISTOPHER F',
 'CARTER REBECCA C',
 'CAUSEY RICHARD A',
 'CHAN RONNIE',
 'CHRISTODOULOU DIOMEDES',
 'CLINE KENNETH W',
 'COLWELL WESLEY',
 'CORDES WILLIAM R',
 'COX DAVID',
 'CUMBERLAND MICHAEL S',
 'DEFFNER JOSEPH M',
 'DELAINEY DAVID W',
 'DERRICK JR. JAMES V',
 'DETMERING TIMOTHY J',
 'DIETRICH JANET R',
 'DIMICHELE RICHARD G',
 'DODSON KEITH',
 'DONAHUE JR JEFFREY M',
 'DUNCAN JOHN H',
 'DURAN WILLIAM D',
 'ECHOLS JOHN B',
 'ELLIOTT STEVEN',
 'FALLON JAMES B',
 'FASTOW ANDREW S',
 'FITZGERALD JAY L',
 'FOWLER PEGGY',
 'FOY JOE',
 'FREVERT MARK A',
 'FUGH JOHN L',
 'GAHN ROBERT S',
 'GARLAND C KEVIN',
 'GATHMANN WILLIAM D',
 'GIBBS DANA R',
 'GILLIS JOHN',
 'GLISAN JR BEN F',
 'GOLD JOSEPH',
 'GRAMM WENDY L',
 'GRAY RODNEY',
 'HAEDICKE MARK E',
 'HANNON KEVIN P',
 'HAUG DAVID L',
 'HAYES ROBERT E',
 'HAYSLETT RODERICK J',
 'HERMANN ROBERT J',
 'HICKERSON GARY J',
 'HIRKO JOSEPH',
 'HORTON STANLEY C',
 'HUGHES JAMES A',
 'HUMPHREY GENE E',
 'IZZO LAWRENCE L',
 'JACKSON CHARLENE R',
 'JAEDICKE ROBERT',
 'KAMINSKI WINCENTY J',
 'KEAN STEVEN J',
 'KISHKILL JOSEPH G',
 'KITCHEN LOUISE',
 'KOENIG MARK E',
 'KOPPER MICHAEL J',
 'LAVORATO JOHN J',
 'LAY KENNETH L',
 'LEFF DANIEL P',
 'LEMAISTRE CHARLES',
 'LEWIS RICHARD',
 'LINDHOLM TOD A',
 'LOCKHART EUGENE E',
 'LOWRY CHARLES P',
 'MARTIN AMANDA K',
 'MCCARTY DANNY J',
 'MCCLELLAN GEORGE',
 'MCCONNELL MICHAEL S',
 'MCDONALD REBECCA',
 'MCMAHON JEFFREY',
 'MENDELSOHN JOHN',
 'METTS MARK',
 'MEYER JEROME J',
 'MEYER ROCKFORD G',
 'MORAN MICHAEL P',
 'MORDAUNT KRISTINA M',
 'MULLER MARK S',
 'MURRAY JULIA H',
 'NOLES JAMES L',
 'OLSON CINDY K',
 'OVERDYKE JR JERE C',
 'PAI LOU L',
 'PEREIRA PAULO V. FERRAZ',
 'PICKERING MARK R',
 'PIPER GREGORY F',
 'PIRO JIM',
 'POWERS WILLIAM',
 'PRENTICE JAMES',
 'REDMOND BRIAN L',
 'REYNOLDS LAWRENCE',
 'RICE KENNETH D',
 'RIEKER PAULA H',
 'SAVAGE FRANK',
 'SCRIMSHAW MATTHEW',
 'SHANKMAN JEFFREY A',
 'SHAPIRO RICHARD S',
 'SHARP VICTORIA T',
 'SHELBY REX',
 'SHERRICK JEFFREY B',
 'SHERRIFF JOHN R',
 'SKILLING JEFFREY K',
 'STABLER FRANK',
 'SULLIVAN-SHAKLOVITZ COLLEEN',
 'SUNDE MARTIN',
 'TAYLOR MITCHELL S',
 'THE TRAVEL AGENCY IN THE PARK',
 'THORN TERENCE H',
 'TILNEY ELIZABETH A',
 'TOTAL',
 'UMANOFF ADAM S',
 'URQUHART JOHN A',
 'WAKEHAM JOHN',
 'WALLS JR ROBERT H',
 'WALTERS GARETH W',
 'WASAFF GEORGE',
 'WESTFAHL RICHARD K',
 'WHALEY DAVID A',
 'WHALLEY LAWRENCE G',
 'WHITE JR THOMAS E',
 'WINOKUR JR. HERBERT S',
 'WODRASKA JOHN',
 'WROBEL BRUCE',
 'YEAGER F SCOTT',
 'YEAP SOON']

### How many people have a quantified salary?
Note: The entry "NaN" is not a numpy.NaN, but a string.

#### Option 1:

In [40]:
has_no_salary = []
for name in names:
    has_no_salary.append(enron_data[name]['salary']=='NaN')
sum(has_no_salary)

51

In [41]:
has_salary = []
for name in names:
    has_salary.append(enron_data[name]['salary']!='NaN')
sum(has_salary)

95

#### Option 2:
Converting strings 'NaN' to np.array and use np.isnan:

In [42]:
salary = []
for name in names:
    salary.append(enron_data[name]['salary'])
salary = np.array(salary, dtype=np.float)

One can sum over np.arrays:

In [43]:
print np.isnan(salary).sum()

51

Inverting the isnan to isnotnan:

In [44]:
print sum(~np.isnan(salary))
# same as:
print (~np.isnan(salary)).sum()

95
95

### How many people have a mail address?

In [45]:
has_email = []
for name in names:
    has_email.append(enron_data[name]['email_address'] != 'NaN')
np.array(has_email).sum()

111

In [46]:
has_no_email = []
for name in names:
    has_no_email.append(enron_data[name]['email_address'] == 'NaN')
np.array(has_no_email).sum()

35

### And how many people do not have an entry for total_payments?

In [21]:
has_no_payment = []
for name in names:
    has_no_payment.append(enron_data[name]['total_payments'] == 'NaN')
sum(has_no_payment)

21

#### And in % of the total number of people?

In [24]:
float(sum(has_no_payment))/len(enron_data)*100.

14.383561643835616

### What is the percentage of pois without payment?

In [26]:
ispoi = []
for name in names:
    ispoi.append(enron_data[name]['poi'] == True)
n_pois = sum(ispoi)
print n_pois

18

In [28]:
boole = []
for name in names:
    boole.append((enron_data[name]['poi']==True) & (enron_data[name]['total_payments']=='NaN'))
print "There are %d pois without entry for total payments. This is %3.2f %s of the total." \
        %(sum(boole), sum(boole)/float(n_pois)*100., "%")

There are 0 pois without entry for total payments. This is 0.00 % of the total.

In [31]:
boole = []
for name in names:
    boole.append((enron_data[name]['poi']==True) & (enron_data[name]['total_payments']!='NaN'))
print "There are %d pois with an entry for total payments. This is %3.2f %s of the total." \
        %(sum(boole), sum(boole)/float(n_pois)*100., "%")

There are 18 pois with an entry for total payments. This is 100.00 % of the total.

#### And check the values of their payments:

In [35]:
for name in dict_pois.keys():
    print dict_pois[name]['total_payments']

1868758
103559793
2424083
360300
2669589
288682
505050
1639297
2652612
1490344
4747979
91093
5501630
2003885
1587421
1099100
1272284
8682716